@{
    ViewBag.Title = "Error";
}
<div class="row" style=" text-align: center"><img class="img-thumbnail" style="border:none" width="600" height="300" src="@Url.Content("~/Content/images/cat.jpg")" /></div>
<div class="row center" style=" text-align: center">
    <h1 class="text-danger">Error</h1>
</div>
<div class="row" style=" text-align: center">
    <h3 class="role-text">An error occurred while processing your request. We already know about it and are trying to solve it.</h3>
</div>